/* body {
    background-color: #1a1a1a;
} */

h1 {
    color: whitesmoke;
  
}

p {
    color: lightgray;
    font-size: 20px;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: mediumspringgreen;
   
}